
.App {
  text-align: center;
  color: white;
  padding-top: 6vw;
  font-size: 1.2vw;
  background-color: black;
  background-image: url("../resources/bg1.jpg");
  background-size:cover;
  background-repeat: repeat;
  /* height: 50%; */
  
  }

.title{
  font-size: 1vw;
  padding-top: 1.5vw;
  color: white;
}

.titlesponsorimg{
  display: flex;
  padding-left: 40vw;
  padding-top: 3.8vw;
  align-items: center;
}
.card_shadowt{
  height: 20vw;
  width: 20vw;
  background-color: #AADCDB;
  transform: rotate(2deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;
}

.cardt{
  height: 20vw;
  width: 20vw;
  background-color: #686FAB;
  transform: rotate(-2deg);
  border-radius: 1.3vw;

  /* z-index: 10; */
}
.imagecardt{
  height: 20vw ;
  width: 20vw;
  overflow: hidden; 
  /* object-fit: fill; */
  /* display: flex; */
  z-index: 10;
  /* position: relative; */
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

#imgdesign{
  height: 11.2vw;
  width:36.3vw ;
  z-index: 1;
  right: 30.5vw;
  position: absolute;
}
.cotitle{
  font-size: 0.85vw;
  padding-top: 2vw;
  color: white;
}
.cotitlesponsorimg{
 
  display: flex;
  padding-left: 40.6vw;
  padding-top: 2vw;
  align-items: center;

}
.card_shadowct{
  height: 18vw;
  width: 18vw;
  background-color: #AADCDB;
  transform: rotate(2deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;

}

.cardct{
  height: 18vw;
  width: 18vw;
  background-color: #686FAB;
  transform: rotate(-2deg);
  /* z-index: 10; */
  border-radius: 1.3vw;

}
.imagecardct{
  height: 18vw ;
  width: 18vw;
  overflow: hidden; 
  /* object-fit: fill; */
  /* display: flex; */
  z-index: 10;
  /* position: relative; */
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

#coimgdesign{
  height: 9vw;
  width:33vw ;
  z-index: 1;
  right: 33vw;
  position: absolute;
}
.powered{
  font-size: 0.8vw;
  padding-top: 1.7vw;
  color: white;
}

.poweredimg{
  height: 16vw ;
  width: 16vw;
  /* padding-top: 3vw; */
  
  margin: 2vw auto;
  background-image: url('../resources/gucci.png');
  background-size: contain;
  border-radius: 1.3vw;
}

.sponsorfooter{
   /* display: grid; */
   padding-top: 2vw;
  /* padding-left: 10vw; */
  padding-bottom: 2vw;
  /* border-bottom: 0.5vw solid black; */
}

/* .sponsor_row{
  align-items: center;
  display: flex;
  gap:1vw;
  height: 22.5vh;
    padding-top: 8vw;
    padding-bottom: 2.1vw;
    /* border: 3px solid greenyellow;} */
 

.sponsor_card{
  color: #fff;
  flex-direction: column;
  height: 29.3vh;
  text-decoration: none;
  width: 20vw;
  align-items: center;
    display: flex;
    padding-bottom: 2vw;
    /* border: 5px solid red; */
}
#sponsorimage{
  
  width: 15vw ;
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
}

.sponsor_name{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  padding-bottom: 0.5vh;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5vw;
  padding-top: 0.8vw;
}
.sponsor_tag{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  text-align: center;
  font-style: italic;
  font-size: 1.2vw;
  padding-bottom: 2vw;
}

.heading2{
  font-size: 3vw;
  font-weight: 600;
  padding-bottom: 5vw;
}

.sponsors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
  row-gap: 10vh;
  column-gap: 2vw;
  margin: 0 auto;
}

.sponsorimg{
  width: 13vw;
  aspect-ratio: 1/1;

}

.name h2{
  font-size: 1.2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.partner p{
  font-size: 1vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

@media (max-width: 1442px) {
  #sponsorimg{
     width: 13vw;
     height: 22vh;
  }
} 

 @media (max-width: 1025px ),( max-height: 1360 ) {
  #sponsorimg{
    width: 12vw;
    height: 19vh;
    padding-bottom: 2vw;
  }
  
  /* .sponsor_name{
    font-size: 2vw;
    padding-top: 3vw;
    padding-bottom: 5vw;
  } */
  
  .name{
    height: 3vw;
    font-size: 6vw;
  }
  .partner{
    font-size: 3vw;
  }
  }
  
   @media (max-width: 430px){/*,(min-height: 932px) { */
    #sponsorimg{
      width: 18vw;
      height: 23vh;
      padding-bottom: 2vw;
    }
    .name{
      font-size: 3vw;
      padding-top: 3vw;
    
    }
   
    .sponsor_card{
      height: 40vw;
      padding-bottom: 2vw;
    }
    .partner{
      font-size: 1vw;
      padding-top: 2vh;
    }
    h1{
     font-size:  3.7vw;
    }
    .titlesponsorimg{
      height: 30vw;
      width: 25vw;
      right: 25vw;
    }
   
  } 