.c{
    border-radius: 2.7vw;
    background: red;
}

.c a{
    color: black !important;
    font-weight: 600 !important;
}

.c1{
    background-color: purple;
}

.c2{
    background-color: yellow;
}

.c3{
    background-color: green;
}

.c4{
    background-color: brown;
}

.c5{
    background-color: brown;
}

.c6{
    background-color: brown;
}

.c7{
    background-color: brown;
}