.star1{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}

.star2{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}

.star3{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}

.star4{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}

.star5{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}

.star6{
    background-image: url('./star_images/Frame\ 15234-min.png') !important;
}