.reg_bg1{
    background-color: aqua;
}

.reg_bg2{
    background-color: gold;
}

.reg_bg3{
    background-color: yellowgreen;
}

.reg_bg4{
    background-color: aqua;
}

.reg_bg5{
    background-color: aqua;
}

.reg_bg6{
    background-color: aqua;
}

.reg_bg7{
    background-color: aqua;
}